{{!< default}}


<header class="blog-header{{#if tag.feature_image}} has-cover{{else}}{{#if @site.cover_image}} has-cover{{/if}}{{/if}}">
	<div class="inner">
		<div class="archive archive-tag box archive-box">
			<h2 class="archive-title">{{tag.name}}</h2>
			{{#if tag.description}}
				<span class="archive-description">{{{tag.description}}}</span>
			{{/if}}
		</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
